.board {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  flex-basis: 20%;
}

.img {
  width: 30%;
  height: 30%;
  margin: 10px;
}

.showidea {
  color: brown;
}

.border2 {
  border: 1px solid red;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}
